<system.identityModel>
  <identityConfiguration>
    <audienceUris>
      <add value="https://localhost:44308/" />
    </audienceUris>
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="http://identityserver.v2.thinktecture.com/trust/idsrv">
        <keys>
          <add thumbprint="4A19A845008659C33A70F9E92C3F1FE774BB15C2" />
        </keys>
        <validIssuers>
          <add name="http://identityserver.v2.thinktecture.com/trust/idsrv" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
    <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
    <certificateValidation certificateValidationMode="None" />
  </identityConfiguration>
  <!--<identityConfiguration>
    <audienceUris>
      <add value="urn:mvcjwtrp" />
    </audienceUris>

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />
    </securityTokenHandlers>

    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="http://identityserver.v2.thinktecture.com/samples">
        <keys>
          <add thumbprint="96777897d472f99dbc18e5cf29b35126eed68e34" />
          <add symmetricKey="DiZgABsT5shsfoAoWlbtvEjSgS3Y0tX9PSx4NM2H/no=" />
        </keys>
        <validIssuers>
          <add name="http://identityserver.v2.thinktecture.com/samples" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>


    <issuerTokenResolver type="System.IdentityModel.Tokens.NamedKeyIssuerTokenResolver, System.IdentityModel.Tokens.Jwt">
      <securityKey symmetricKey="DiZgABsT5shsfoAoWlbtvEjSgS3Y0tX9PSx4NM2H/no="
                    name="http://identityserver.v2.thinktecture.com/samples" />
    </issuerTokenResolver>

    <certificateValidation certificateValidationMode="None" />
  </identityConfiguration>-->
</system.identityModel>