<system.identityModel.services>
  <federationConfiguration>
    <cookieHandler requireSsl="false" />
    <wsFederation passiveRedirectEnabled="true" issuer="https://localhost/idsrv/issue/wsfed" realm="https://localhost:44308/" requireHttps="false" />
  </federationConfiguration>
  
  <!--<federationConfiguration>

    <wsFederation passiveRedirectEnabled="true"
                  issuer="https://idsrv.local/issue/wsfed"
                  realm="urn:mvcjwtrp" />
  </federationConfiguration>-->
  
</system.identityModel.services>